
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.card-body{
width: 150px;
height: 50px;
}

.DigitCard{
   
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    justify-content: space-around;
    background-color: rgb(48, 44, 44);
    color: white;
    font-size: 80px;
    font-weight: bold;
    width: auto;
    height: auto;
    text-align: center;
    
    .card {
    background-color: #070707f6;
    

    .fa{
        font-size: 100px;
        /* color: white; */
    }
}
}

